body {
    background-color: rgb(45, 45, 44);
}

.card {
    border-radius: 20px;
    box-shadow: 14px 13px 36px 1px rgba(26, 24, 24, 0.81);
}

a,
.slide-text,
.skill-text {
    color: rgb(235, 225, 225);
    margin: auto auto;
    font-size: 20px;
}

.bgimage img {
    width: 100%;
}

.textme {
    font-weight: 600;
}

.footeritems {
    margin-top: 100px;
    height: 130px;
}

a .picturestyle {
    font-size: 17px;
}

.carusel-one {
    padding-top: 80px;
    margin-bottom: 200px;
}

@media (max-width:600px) {

    .carusel-one {
        padding-top: 0px;
    }
}

@media(max-width:600px) {
    .slide-text {
        padding-top: 20px;
    }
}

.skill-text {
    margin-top: 20px;
}
